@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DATA.Entity.Nhanvien

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
    </style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .link_btn {
            background-color: #4e92df;
            font-size: 16px;
            color: white;
            padding: 10px 20px;
            border-radius: 2px;
        }
        .form-select {
            min-width: 100px;
            margin-right: 10px;
            outline: none;
            padding-left: 10px;
            border: 1px solid #4e92df;
        }
    </style>
</head>
<body>
    <header>
        
    </header>


    <div class="container">
        
        <div>
            <form id="form" enctype="multipart/form-data" method="post" action="/Home/Create">

                <div class="form-horizontal">
                    <h4>Nhân Viên</h4>
                    <div asp-validation-summary="ModelOnly">
                        <span>Please correct the following errors</span>
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        <label class="control-label col-md-2">Họ Tên</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                            <span asp-validation-for="Ten" class="text-danger"></span>
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ngày sinh</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ngaysinhh, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ngaysinhh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Địa chỉ</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Vị trí</label>


                        <select name="vitri" class="form-select" aria-label="Default select example">
                            @foreach (var item in ViewBag.vitri)
                            {
                                <option value="@item.Id">@item.Tenvitri</option>
                            }
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Chức vụ</label>


                        <select name="chucvu" class="form-select" aria-label="Default select example">
                            @foreach (var item in ViewBag.chucvu)
                            {
                                <option value="@item.Id" selected="selected">@item.Tenchucvu</option>
                            }
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Người giới thiệu</label>


                        <select name="nguoigioithieu" class="form-select" aria-label="Default select example">
                            @foreach (var item in ViewBag.tenNV)
                            {
                                <option value="@item.Id">@item.Ten</option>
                            }
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CV, htmlAttributes: new { @class = "control-label col-md-2" })
                        <input type="file" name="filecv" />
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default link_btn" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

  

</body>
</html>

